header {
    background-color:#BA55D3
      colorHotPink3;}
  * {margin:0;
    padding:0;}
   .cabecario 
    background-color #FFC125
      colorblack
      display:flex
      justify-conten.t space-around
  padding : 24px 0;
  .cabecario-lista-item{
    display: inline-block;
    margin:0 16px;
  padding: 24px 0;
    font-size:24px;
style:css
  }
body{
  font-family:'poppins',sans-serif;
}
.estudante-imagem{
  width:120px;
}
.estudante-icone{
  width: 24px;
}
.estudante-div {
 text-align: center;
}



