header {
    background-color:#BA55D3
      color:HotPink3;}
  * {margin:0;
    padding:0;}
   .cabecario {
    background-color:#FFC125
      color:black
      display:flex;
     justify-content: space-around;
     padding: 24px 0;}
  .cabecario-lista-item{
    display: inline-block;
    margin:0 16px;
  padding: 24px 0;
    font-size:24px;
}
